/* main page style*/
#table_div {
 margin-left: 80px;
}

h1 {
 margin-left: 80px;
}

h2 {
 margin-left: 80px;
}

p {
 margin-left: 80px;
}
/* end of main page style*/

/* map style*/
path {
 stroke:white;
 stroke-width: 0.5px;
}
 
body {
 font-family: Arial, sans-serif;
}
 
.city {
 font: 10px sans-serif;
 font-weight: bold;
}
 
.legend {
 font-size: 12px;
}
 
div.tooltip {
 position: absolute;
 text-align: center;
 color: white;
 width: 150px;
 height: 25px;
 padding: 2px;
 font-size: 10px;
 background: black;
 opacity: 0.5;
 border: 1px;
 border-radius: 5px;
 pointer-events: none;
}
/* end of map style*/